.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}

div {
    background: rgba(76, 175, 80, 0) /* Green background with 30% opacity */
}